/SistemaCompraVenda/nbproject/private/
/SistemaCompraVenda/build/
/SistemaCompraVenda/dist/
/Soma/nbproject/private/
/ProjetoPolimorfismo/nbproject/private/
/ProjetoPolimorfismo/build/
/ProjetoPolimorfismo/dist/
/Paralelismo/nbproject/private/
/Paralelismo/build/
/Paralelismo/dist/